In [12]:
import sqlite3
con = sqlite3.connect("database.db")
cursor=con.cursor()
cursor.execute("create table Shop (Product_ID integer,Product_Name text,Price integer,Manifacturer text,Quantity integer)")
print("Database Created ✅")

Database Created ✅

In [13]:
cursor.execute("insert into Shop values(145, 'Ball Pen', 10, 'Cello', 55)")
cursor.execute("insert into Shop values(142, 'Pen', 20, 'Cello', 50)")
cursor.execute("insert into Shop values(143, 'Pencil', 30, 'Cello', 52)")
cursor.execute("insert into Shop values(144, 'Rubber', 40, 'Cello', 51)")
cursor.execute("insert into Shop values(141, 'Scale', 50, 'Cello', 90)")
print("Products Added ✅")

Products Added ✅

In [15]:
cursor.execute("select * from Shop order by price desc limit 3")
print("Three Most Expensive Products:\n")
res=cursor.fetchall()
for x in res:
    print(x)

Three Most Expensive Products:

(141, 'Scale', 50, 'Cello', 90)
(144, 'Rubber', 40, 'Cello', 51)
(143, 'Pencil', 30, 'Cello', 52)

In [17]:
cursor.execute("select * from Shop where Manifacturer = 'Cello' and Price<=40")
print("Items by \"XYZ\" company:\n")
res=cursor.fetchall()
for x in res:
    print(x)

Items by "XYZ" company:

(145, 'Ball Pen', 10, 'Cello', 55)
(142, 'Pen', 20, 'Cello', 50)
(143, 'Pencil', 30, 'Cello', 52)
(144, 'Rubber', 40, 'Cello', 51)

In [18]:
cursor.execute("select * from Shop where Price between 20 and 40")
print("Items by Price:\n")
res=cursor.fetchall()
for x in res:
    print(x)

Items by Price:

(142, 'Pen', 20, 'Cello', 50)
(143, 'Pencil', 30, 'Cello', 52)
(144, 'Rubber', 40, 'Cello', 51)

In [19]:
cursor.execute("select count (*) from Shop")
print("Number of Items:\n")
res=cursor.fetchall()
for x in res:
    print(x)

Number of Items:

(5,)

In [20]:
cursor.execute("select Product_Name from Shop")
print("Categories of Item:\n")
res=cursor.fetchall()
for x in res:
    print(x)

Categories of Item:

('Ball Pen',)
('Pen',)
('Pencil',)
('Rubber',)
('Scale',)

In [21]:
cursor.execute("select * from Shop where Manifacturer like 'C%'")
print("Items Manufacturer start from C:\n")
res=cursor.fetchall()
for x in res:
    print(x)

Items Manufacturer start from C:

(145, 'Ball Pen', 10, 'Cello', 55)
(142, 'Pen', 20, 'Cello', 50)
(143, 'Pencil', 30, 'Cello', 52)
(144, 'Rubber', 40, 'Cello', 51)
(141, 'Scale', 50, 'Cello', 90)

In [25]:
cursor.execute("select * ,max(Price) from Shop where Price < (select max(Price) from Shop)")
print("2nd Most Expensive:\n")
res=cursor.fetchall()
for x in res:
    print(x)

2nd Most Expensive:

(144, 'Rubber', 40, 'Cello', 51, 40)

In [28]:
cursor.execute("select * from Shop where Price > (select avg(Price) from Shop)")
print("Price larger than average Price:\n")
res=cursor.fetchall()
for x in res:
    print(x)

Price larger than average Price:

(144, 'Rubber', 40, 'Cello', 51)
(141, 'Scale', 50, 'Cello', 90)

In [29]:
cursor.close()
print("Connection Closed❌")

Connection Closed❌